#create_recipe body {
	background-color: #F4F4F4;
}

#create_recipe .background-container {
	position: relative;
	width: 100%;
}

#create_recipe .background {
	opacity: 0.5;
	position: absolute;
}

#create_recipe .grid-container {
	display: grid;
	gap: 10px;
	background-color: lightblue;
	padding: 10px;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 10%;
	border-radius: 10px;
}

#create_recipe .grid-container > div {
	font-family:Andale Mono,AndaleMono, monospace; 
	font-weight:bold; 
	color: grey;
}

#create_recipe .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
  border-radius: 10px;
}

#create_recipe .name {
  grid-column: 1 / span 5;
  grid-row: 1;
}

#create_recipe .image {
  grid-column: 6;
  grid-row: 1;
}

#create_recipe .input {
	width: 80%;
	height: 40%;
	font-size: 16px;
}

#create_recipe .textarea {
	width: 80%;
	font-size: 20px;
}

#create_recipe .select {
	width: 50%;
	height: 70%;
	font-size: 16px;
}

#create_recipe .select > option {
	font-size: 16px;
}

#create_recipe .description{
	grid-column: 1 / span 6;
	grid-row: 2 / span 2;
}

#create_recipe .diets {
	grid-column: 1 / span 3;
}

#create_recipe .cuisine {
	grid-column: 4 / span 3;
}

#create_recipe .ingredient {
	grid-column: 1 / span 6;
	grid-row: 4 / span 2;
}

#create_recipe .steps {
	grid-column: 1 / span 6;
}

#create_recipe .prep-time {
	grid-column: 1 / span 3;
	grid-row: 6;
}

#create_recipe .cooking-time {
	grid-column: 4 / span 3;
	grid-row: 6;
}

#create_recipe .serving {
	grid-column: 1 / span 3;
	grid-row: 8;
}

#create_recipe .calorie {
	grid-column: 4 / span 3;
	grid-row: 8;
}

#create_recipe .but{
	width:fit-content;
	border: 0px;
	border-radius: 10px;
	text-transform: uppercase;
	font-size: 20px;
}

#create_recipe table {
  border-collapse: collapse;
  width: 100%;
}

#create_recipe td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#create_recipe tr:nth-child(even) {
  background-color: #dddddd;
}

#create_recipe input {
	font-size: 20px;
}

#create_recipe select {
	font-size: 20px;
}
